<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true" thread-count="3">
  <test thread-count="3" name="Test">
    <classes>
      <class name="handson.testngdemo"/>
      <class name="handson.alerts"/>
      <class name="handson.JJ"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
